.thirdScreen{
    text-align: center;
    .avatar_images{
        .avatarOne{
            display:flex;
            gap: 15px;
            margin-top: 15px;
            // a{
            //     background-image: url("circle.png");
            //     width: 75px;
            //     height: 75px;
            //     background-size: 100%;
            //     text-align: center;
            // }
            img{
                width: 44px;
                height: 57px; 
                bottom: 2px;
                left: 20px;
            }
            .aaaa{
                img{
                    filter: brightness(0.5);
                }
            }
        }
    }
}