 
<div class="thirdScreen">
    <h3>Hello {{name}}!</h3>
    <span>Choose your avatar</span>
    <div class="avatar_images">
        <div class="avatarOne">
            <a href="#" class="avatar">
                <img src="../../assets/avatar_1.png">
            </a>          
            <a href="#" class="avatar">
                <img src="../../assets/avatar_1.png">
            </a> 
            <a href="#" class="avatar">
                <img src="../../assets/avatar_1.png">
            </a> 
            <a href="#" class="avatar">
                <img src="../../assets/avatar_1.png">
            </a> 
            <a href="#" class="avatar">
                <img src="../../assets/avatar_1.png">
            </a> 
        </div>
    </div>
</div>