.secondScreen{
    text-align: center;
    input{
        
    }
    .nextButton{
        border-radius: 18px;
        padding: 8px 20px;
        margin-top:10px;
        cursor: pointer;
        color: #ffffff;
    }
}